body {
  position: center;
  text-align: center;
}



h1 {
  text-align: center;
  font-style: italic ;
  font-family: fantasy;
  font-size: 75px;
  color: black;
  border-radius: 8px;
  background-color: rgb(70, 53, 23);
  background-size: auto;
  padding-left: auto;
  padding-right: auto;
  
}

h4 {
  background-color:  rgb(70, 53, 23);
  color: black;
  font-family: 'Apple Chancery';
  border-radius: 8px;
  margin-top: 25px;
}