body {
  position: center;
  text-align: center;
}

.test {
  border-bottom: 5px solid black;
}

h1 {
  text-align: center;
  font-style: italic ;
  font-family: fantasy;
  font-size: 75px;
  color: black;
  border-radius: 8px;
  background-color: rgb(70, 53, 23);
  background-size: auto;
  padding-left: auto;
  padding-right: auto;
  
}

h4 {
  background-color:  rgb(70, 53, 23);
  color: black;
  font-family: 'Apple Chancery';
  border-radius: 8px;
  margin-top: 25px;

}

.start-button {
  cursor: pointer;
  color: lightcoral;

}

.start-button:hover {
  text-decoration: underline;

}

.begin-hidden {
  background-color: rgb(70, 53, 23);
  color: black;
  border-radius: 15px;
  
}

.begin-showing {
  display: none;
  background-color: rgb(70, 53, 23);
  border-radius: 8px;
  color: black;
  margin-bottom 25px;
  
}

p {
  color: black;
  font-size: 20px;

}