body {
  position: center;
  text-align: center;
  background-color: rgb(161, 161, 128);
}

.container {
  position: center;
  background-color: burlywood;
}

.test {
  border-bottom: 5px solid black;
}

h1 {
  text-align: center;
  font-style: italic ;
  font-family: fantasy;
  font-size: 75px;
  color: black;
  border-radius: 8px;
  background-color: rgb(70, 53, 23);
  background-size: auto;
  padding-left: auto;
  padding-right: auto;
  
}

h2 {
  text-align: center;
  color: rgb(77, 53, 34);
}

h4 {
  background-color:  rgb(70, 53, 23);
  border-radius: 8px;
  color: black;
  font-family: 'Apple Chancery';
  margin-top: 25px;

}

.questions {
  text-align: center;
}

#result, #CSharpBard, #JavaScriptWarrior, #PythonMonk, #RubyWizard {
  display: none;
}


p {
  color: black;
  font-size: 20px;

}

.result1 {
  display: none;
  width: 75%;
  height: auto;
}

.result2 {
  display: none;
  width: 75%;
  height: auto;
}

.result3 {
  display: none;
  width: 75%;
  height: auto;
}

.result4 {
  display: none;
  width: 75%;
  height: auto;
}

button {
  margin: 12px;
}

